DB_USER=user
DB_PASSWORD=pass
DB_NAME=rinoimob
DB_PORT=5432

REDIS_PORT=6379

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

SEAWEEDFS_MASTER_PORT=9333
SEAWEEDFS_VOLUME_PORT=8080
