# Docker
.dockerignore
Dockerfile
docker-compose.override.yml

# Kubernetes
k8s/overlays/*/kustomization.yaml
*.yaml.bak

# Terraform
*.tfvars
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log

# IDE
.idea/
.vscode/
*.swp
*.swo
*.iml

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
